---
import { Image } from 'astro:assets';
import Bubble from './Bubble.astro';
import Card from './Card.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import type { PostInterface } from '@/types';

interface Props extends PostInterface {
}

const { class: className, title, description, url, date, image, category, ...rest } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Card url={url} tag="article" title={title} url={url} class:list={[className]} {...rest}>
    <Image slot="image" src={image.src} alt={image.alt} width={image.width} height={image.height} />
    <div slot="content" class="flex gap-3 py-2">
        <time datetime={date} class="text-sm">{date}</time>
        <span class="font-bold text-purple-600 dark:text-base-content">{category}</span>
    </div>
    <p slot="content">{description}</p>
</Card>
